<h1>Edit my information:</h1>


<%= form_with model: @user do |form| %>
    <div class="form">
        <div>
            <p><%= form.label :username %></p>
            <p><%= form.text_field :username %></p>
        </div>

        <div>
            <p><%= form.label :bio %></p>
            <p><%= form.text_area :bio %></p>
        </div>

        <div>
            <p><%= form.label :avatar %></p>
            <p><%= form.file_field :avatar %></p>
        </div>

        <div>
            <button type="submit" class="post-btn">Update Profile</button>
        </div>
    </div>
<% end %>