<section class="page-wrapper">
    <h1>Edit my information:</h1>
    <article class="user">
        <%= form_with model: @user, html: { method: :put, multipart: true } do |form| %>
            <div class="form">
                <div>
                    <p><%= form.label :username %></p>
                    <p><%= form.text_field :username %></p>
                </div>

                <div>
                    <p><%= form.label :bio %></p>
                    <p><%= form.text_area :bio, size: "17x2" %></p>
                </div>

                <div class="avatar-field">
                    <p><%= form.label :avatar %></p>
                    <p style="font-size: smaller">*required</p>
                    <p style="font-size: smaller">same or new picture</p>
                    <p><%= form.file_field :avatar %></p>
                </div>

                <div>
                    <button type="submit" class="post-btn">Update Profile</button>
                </div>
            </div>
        <% end %>
    </article>
</section>