<section class="user-wrapper">
    <h2>Community</h2>

    <% @users.each do |user|%>
        <% unless user == current_user %>
            <article class="user">
                <div class="user-display">
                    <p><%= user.username%></p>
                    <% if @my_pending_requests.where("recipient_id = ?", user.id).exists? %>
                        <p>Follow request is pending</p>
                    <% elsif @my_accepted_requests.where("recipient_id = ?", user.id).exists? %>
                        <p>Following</p>
                    <% else %>
                        <%= button_to "Ask to Follow", follower_requests_path, method: :post, params: { recipient: user.id }, class: "follow-btn" %>
                    <% end %>
                <%# </div> %>
                
                <% if @follow_requests.where("user_id = ?", user.id).exists? %>
                    <%# <div class="invitation"> %>
                        <p> <%= user.username %> has asked to follow you</p>
                        <div class="inv-btn">
                            <% follow_request_id = @follow_requests.find_by("user_id = ?", user.id).id %>
                            <%= button_to "Accept", followings_path, method: :post, params: { follower: user.id, request: follow_request_id }, class: "follow-btn accept" %>
                            <%= button_to "Decline", {:controller => :follower_requests, action: :destroy, :id => follow_request_id }, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "follow-btn decline" %>
                        </div>    
                    </div>
                <% end %>
                
            </article>
        <% end %>
        
        
    <% end %>
</section>