<h2>List all users</h2>
<p>Current user is <%= current_user.username %></p>

<% @users.each do |user|%>
    <% unless user == current_user %>
        <p>User: <%= user.username%></p>
        <% if @my_pending_requests.where("recipient_id = ?", user.id).exists? %>
            <p>Follow request is pending</p>
            <hr>
        <% elsif @my_accepted_requests.where("recipient_id = ?", user.id).exists? %>
            <p>Following</p>
            <hr>
        <% else %>
            <%= button_to "Ask to Follow", follower_requests_path, method: :post, params: { recipient: user.id } %>
            <hr>
        <% end %>

        <% if @follow_requests.where("user_id = ?", user.id).exists? %>
            <p> <%= user.email %> has asked to follow you</p>
            <% follow_request_id = @follow_requests.find_by("user_id = ?", user.id).id %>
            <%= button_to "Accept", followings_path, method: :post, params: { follower: user.id, request: follow_request_id } %>
            <%= button_to "Decline", {:controller => :follower_requests, action: :destroy, :id => follow_request_id }, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        <hr>
        <% end %>
    <% end %>
    
<% end %>