<h2>List all users</h2>

<% @users.each do |user|%>
    <% unless user == current_user %>
        <p>User: <%= user.email%></p>
        <% if @follower_requests.where(user_id: current_user.id, recipient_id: user.id, status: :pending).exists? %>
            <p>Follow request is pending</p>
            <hr>
        <% elsif @follower_requests.where(status: :accepted).where(user_id: user.id).exists? %>
            <p>Following</p>
            <hr>
        <% else %>
            <%= button_to "Ask to Follow", follower_requests_path, method: :post, params: { recipient: user.id } %>
            <hr>
        <% end %>

        <% if @follower_requests.where(user_id: user.id, recipient_id: current_user.id, status: :pending).exists? %>
            <p> <%= user.email %> has asked to follow you</p>
            <% @follow_request = @follower_requests.find_by(user_id: user.id, recipient_id: current_user.id, status: :pending).id %>
            <%= button_to "Accept", followings_path, method: :post, params: { follower: user.id, request: @follow_request } %>
            <%= button_to "Decline", {:controller => :follower_requests, action: :destroy, :id => @follow_request }, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        <hr>
        <% end %>
    <% end %>
    
<% end %>