<div class="user-wrapper">
    <div class="user-page">
        <h2><%= @user.username %></h2>
        <p><%= @user.email %></p>

        <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar,　alt: "#{@user.username}'s Avatar", style: "width: 100px; height: 100px; border-radius: 50%;" %>
        <% elsif @user.avatar_url %>
            <%= image_tag @user.avatar_url, alt: "#{@user.username}'s Avatar", class: "avatar",　style: "width: 100px; height: 100px; border-radius: 50%;" %>
        <% else %>
            <%= image_tag ("default_avatar.jpg"), alt: "#{@user.username}'s Avatar", class: "avatar", style: "width: 100px; height: 100px; border-radius: 50%;" %>
        <% end %> 

        <div class="edit-link">
            <p>
                <%= link_to "Update my details", edit_user_path(current_user) %>
            </p>
        </div>
        <p class="bio-title">Bio:</p>
        <article class="bio-wrapper">
            <p class="bio"><%=@user.bio%></p>
        </article>
        <p class="post-title">Posts:</p>
        <% @posts.each do |post| %>
            <article class="post">
                <p class="post-title"><%= post.title%></p>
                <p class="post-body"><%= post.body %></p>
            </article>
        <% end %>
    </div>
</div>
