<h2><%= @user.username %></h2>
<h3><%= @user.email %>
<br>
<% if @user.avatar_url %>
<%= image_tag @user.avatar_url, alt: "#{@user.username}'s Avatar", class: "avatar" %>
<% end %>
<p><%=@user.bio%></p>

<% @posts.each do |post| %>
    <p class="post-body"><%= post.body %></p>
<% end %>