
    <div class="user-page">
        <h2><%= @user.username %></h2>
        <p><%= @user.email %></p>

        <% if @user.avatar_url %>
            <%= image_tag @user.avatar_url, alt: "#{@user.username}'s Avatar", class: "avatar" %>
        <% end %>

        <div class="edit-link">
            <%= link_to "Update my details", edit_user_path(current_user) %>
        </div>
        <article class="bio-wrapper">
            <p class="bio-title">Bio:</p>
            <p class="bio"><%=@user.bio%></p>
        </article>
        
        <% @posts.each do |post| %>
            <article class="post">
                <p class="post-title"><%= post.title%></p>
                <p class="post-body"><%= post.body %></p>
            </article>
        <% end %>
    </div>
