<div class="page-wrapper">
    <%# <div class="timeline" %>
        <h2>Timeline</h2>
    <%# </div> %>

    <% if @followers_id.nil? %>
        <% @followers_id = [] %>
    <% end %>
    <div class="post-display">
    <% @posts.each do |post|%>
        <% if @followers_id.include?(post.user_id) || post.user_id == current_user.id%>
            <article class="post">
                <p class="title"><%=post.title%></p>
                <% user = post.user %>
                <p class="author">Post by: <%= user.username%></p>
                <%= link_to "Take a read", post_path(post) %>
                <p class="post-body"><%= post.body %></p>

                <div class="like-count">
                    <p>Likes <%= post.likes.count %></p>
                </div>
            </article>
            <hr>
        <% end %>
    <% end %>
    </div>
</div>
